@model GlutenFreeVictuals.Models.Recipe
@{
    ViewData["Title"] = "Recipe";
}
<!DOCTYPE html>
<html>

<head>
    <script>
        function myFunction() {
            document.getElementById("demo").innerHTML = "Paragraph changed.";
        }
    </script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div>
        <h2>@Model.Title</h2>

        <div>
            <span class="fa fa-star checked" style="font-size:xx-large"></span>
            <span class="fa fa-star checked" style="font-size:xx-large"></span>
            <span class="fa fa-star checked" style="font-size:xx-large"></span>
            <span class="fa fa-star" style="font-size:xx-large"></span>
            <span class="fa fa-star" style="font-size:xx-large"></span>
            
                <table class="table-condensed">
                    <thead>
                        <tr>
                            <th>Prep Time</th>
                            <th>Cook Time</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>@Model.PrepTimeMinutes</td>
                            <td>@Model.CookTimeMinutes</td>
                        </tr>
                    </tbody>
               </table>
                <br />


                <h3>Name</h3>
                @Model.Name
                <br />

                <h3>Date</h3>
                @Model.Date
                <br />

                <h3>Ingredients</h3>
                @Model.Ingredients
                <br />

                <h3>Instructions</h3>
                @Model.Instructions
                <br />


</div>

    </div>
</body>
    
</html>


