@model GlutenFreeVictuals.Models.Recipe
@{
    Layout = "_Layout";
    ViewData["Title"] = "Recipe";
}
<body>
    <div>
        <h2>@Model.Title</h2>

        <div>
            @{
                //Calculate how many stars filled in and display
                var ratings = Model.Ratings;

                if (ratings.Count > 0)
                {
                    double average = ratings.Average(r =>
                                    r.RatingScore);

                    int averageRating = (int)Math.Round(average);
                    int emptyStars = 5 - averageRating;
                    
                    for (int i = 0; i < averageRating; i++)
                    {
                        <span class="fa fa-star checked" style="font-size:xx-large"></span>
                    };

                    for (int i = 0; i < emptyStars; i++)
                    {
                        <span class="fa fa-star" style="font-size:xx-large"></span>
                    };
                }
            }

            <form method="post">
                <label for="ratingscore">Rate Recipe:</label><br />
                <input type="radio" name="score" value="1">1
                <input type="radio" name="score" value="2">2
                <input type="radio" name="score" value="3">3
                <input type="radio" name="score" value="4">4
                <input type="radio" name="score" value="5">5
                <input type="submit" value="enter" asp-route-title="@Model.Title" />
            </form>
            @*<a asp-action="RateRecipe" asp-route-title="@Model.Title">Rate this Recipe</a>*@
            <table class="table-condensed">
                <thead>
                    <tr>
                        <th>Prep Time</th>
                        <th>Cook Time</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>@Model.PrepTimeMinutes</td>
                        <td>@Model.CookTimeMinutes</td>
                    </tr>
                </tbody>
            </table>
            <br />


            <h3>Name</h3>
            @Model.Name
            <br />

            <h3>Date</h3>
            @Model.Date
            <br />

            <h3>Ingredients</h3>
            @Model.Ingredients
            <br />

            <h3>Instructions</h3>
            @Model.Instructions
            <br />


        </div>

    </div>
</body>
    



