@model GlutenFreeVictuals.Models.Recipe
@{
    ViewData["Title"] = "Recipe";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<div class="container">
    
        <h3>Title</h3>
        @Model.Title <br />

        <h3>Name</h3>
        @Model.Name <br />

        <h3>Date</h3>
        @Model.Date <br />

        <h3>Ingredients</h3>
        @Model.Ingredients <br />

        <h3>Instructions</h3>
        @Model.Instructions <br />

        <h3>Ingredients</h3>
        @Model.Ingredients <br />

        <h3>Prep Time</h3>
        @Model.PrepTimeMinutes <br />

        <h3>Cook Time</h3>
        @Model.CookTimeMinutes <br />

   
</div>
